.nav {
  height: 80px;
  background: #3d215b;
  color: #fff;
  display: flex;
  align-items: center;
  justify-content: center;
}

.nav ul {
  padding: 0;
  margin: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  list-style: none;
}

.nav ul li a {
  padding: 0px 25px;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.nav a:hover {
  color: rgb(254, 155, 22);
}
